/********************************HTML SELECTORS********************************/

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Parisienne', cursive;
  font-size: 5rem;
  color: #1e5368;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

li {
  display: inline;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1rem;
  color: #1e6f85;
  padding: 8px;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  font-size: 1.1rem;
  color: #545454;
}

/********************************CLASS SELECTORS********************************/

.avatar {
  width: 50px;
  position: relative;
  top: 18px;
}

.avatar-hello {
  width: 10%;
}

.bottom-container {
  background-color: #b2dfee;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 0px;
}

.contact-me {
  margin-bottom: 50px;
}

.contact-message {
  width: 40%;
  margin: 30px auto 30px;
}

.design-img {
  width: 18%;
  float: left;
  margin-right: 30px;
}

.design-text {
/*  clear: right; */
}

.flatland {
  width: 450px;
}

.infotech-img {
  width: 18%;
  float: left;
  margin-right: 30px;
  clear: left;
}

.it-text {
}

.middle-container {
  background-color: white;
  padding-top: 10px;
}

.nav-container {
  background-color: #b2dfee;
}

.p-footer {
  margin: 0;
  font-size: 0.8rem;
  color: white;
}

.pro {
  text-decoration: underline;
}

.profession {
  font-size: 1.5625rem;
  color: #1e6f85;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 0;
}

.skill-row1 {
  width: 50%;
  margin: 50px auto 120px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 0px auto 70px auto;
  text-align: left;
}

.top-container {
  background-color: #b2dfee;
}

.ul-nav {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #b2dfee;
}

.button {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 16px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 4px 13px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.button:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}

/********************************LINK SELECTORS********************************/

a {
  text-decoration: none;
  color: #1e6f85;
}

a:hover {
  color: #66BFBF;
}
